{% extends "exam/base.html" %}


{% block content %}

   <div class="container my-3">
    <article class="card my-3">
        <div class="card-header"><a class="card-title">{{ exam.sub_code }}: {{ exam.exam_title }}</a>
        <a href="{%url 'exam_take' exam.pk %}" class="float-right btn btn-success">Take Exam</a> </div>
      <div class="card-body">
          <span>Created by: <a href="#">{{exam.created_by.first_name}} {{exam.created_by.last_name}}</a></span>
          <p class="card-text">Max Marks: {{exam.max_marks}}</p>
          <p class="card-text">Available on: {{exam.date_open}}</p>
          <p class="card-text">Closes on: {{exam.date_closed}}</p>
          <p class="card-text">Duration: {{exam.date_open|timesince:exam.date_closed }}</p>
        </div>
      </article>
   </div>

{% endblock content %}